@import '../components/modules/buttons'
@import '../components/modules/links'

.navbar
  color: $navbar-color
  font-family: $poppins
  background-color: $navbar-primary
  border-bottom: $navbar__border
  padding: 0 70px
  position: relative

  &__logo

    &-name a
      font-family: 'Sour Gummy'
      font-weight: 900
      font-size: 26px

    &-img img
      display: none
      max-width: 45px
      max-height: 45px

  &__menu
    gap: 1rem
    justify-content: flex-end

    .socials
      padding-left: 20px

    &__left  
      display: flex
      gap: 1rem

  &__hamburger
    display: none
    cursor: pointer

    img
      max-width: 45px
      max-height: 45px

  &__dropdown
    display: none
    flex-direction: column
    position: absolute
    top: 101%
    left: 0
    width: 100%
    text-align: center
    background-color: $navbar__dropdown
    box-shadow: $navbar__dropdown-shadow
    z-index: 1000

    &.active
      display: flex

    &-link
      font-size: 1.2rem
      padding: 1rem 0
      position: relative
      right: 0
      border-bottom: 1px solid $navbar__dropdown-link-border

      &:hover
        cursor: default

      a:hover
        cursor: pointer

      &:last-child
        border-bottom: none

  @media (max-width: 1188px)
      justify-content: center
      gap: 1rem
      
      .col-sm-10
        justify-content: center
        
      &__logo
        display: none

  @media (max-width: 928px)
    .socials
      display: none

    &__menu
      font-size: 19px

  @media (max-width: 740px)
    &__logo
      display: flex
      justify-content: start

    &__hamburger
      display: block

    &__menu__left 
      display: none

   
  @media (max-width: 538px)
    
    &__menu__right
      display: none

  @media (max-width: 325px)
      justify-content: flex-end
      
      &__logo
        display: none

  @media (min-width: 740px)
    &__dropdown.active
      display: none

.navbar.active
  background: $navbar__dropdown
  border-bottom: solid 1px #aaaaaa