<nav class="navbar container-fluid"> 
  <div class="col-3 d-flex align-items-center">
    <div class="navbar__search d-flex">
      <div class="navbar__search-icon d-flex align-items-center btn-tertiary">
        <i class="fa-solid fa-magnifying-glass fa-sm"></i>
      </div>
      <div class="navbar__search-input">
        <input type="search" placeholder="Search: ">
      </div>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-end align-items-center">
    <div class="navbar__icons">
      <i class="fa-regular fa-gear fa-lg" style="color: #ffffff;"></i>
      <i class="fa-regular fa-bell fa-lg" style="color: #ffffff;"></i>
    </div>
    <div class="navbar__profile">
        <div class="navbar__profile-img">
          <img id="navbar-profile" src="/img/user.jpeg">
        </div>
        <span class="navbar__profile-status"></span>
    </div>
  </div>
</nav>