<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Theory</title>
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"></head>
<body>
    <%- include('templates/navbar.ejs') %>
  <main class="main">
   
  </main>
    <%- include('templates/footer.ejs') %> 
  <script defer src="/js/vendor/jquery.js" type="module"></script>
  <script defer src="/js/lib/utils.js" type="module"></script>
  <script defer src="/js/app/main.js" type="module"></script>
  <script src="https://kit.fontawesome.com/5ee52856b3.js" crossorigin="anonymous"></script>
</body>
</html>