.editor-sidebar
    position: fixed
    width: 78px
    background-color: #121212
    border-right: solid 1px rgba(45, 45, 45, .9294117647)
    z-index: 1000
    height: 100%
    top: 70px

    &__icons
        display: flex
        flex-direction: column
        align-items: center
        gap: 3rem
        padding-top: 25px

        &__item
            color: white
            font-size: 22px