@import '../../templates/base/variables'
@import '../../templates/base/base'
@import '../../templates/base/utilities'
@import '../../templates/base/typography'
@import '../../templates/base/socials'
@import '../../templates/base/search'
@import '../../templates/base/buttons'
@import '../../layout/grid'
@import '../../layout/navbar'
@import '../../layout/layout'
@import '../../layout/footer'
@import './edit-sidebar'
@import './edit-navbar'
@import './edit-editornav'


.navbar
    position: sticky

.blog-post-content
    display: flex
    flex-direction: row
    justify-content: center
    position: relative
    width: calc(100% - 78px)
    left: 78px
    margin-top: 100px

.blog-post-main
    width: 60%
    background-color: #121212
    padding: 15px

.image img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    display: block

.text
    font-size: 20px


// GRID -----------------------------------------------------------
.blog-post-element
    transition: 0s all !important
    -moz-window-dragging: no-drag
    -webkit-user-drag: none
    user-select: none

.image, .h1, .h2, .h3, .h4, .h5, .h6, .text
    font-family: 'Poppins'

.image
    position: relative

    &:hover
        border: solid 1px #ff6565

        &::before
            content: 'Image'
            position: absolute
            left: -1px
            top: -23px
            color: white
            height: 23px
            font-size: 12px
            font-weight: bold
            background: #ff6565
            padding: 5px
            z-index: 10000
            display: flex
            align-items: center
            justify-content: center

        &::after
            content: ""
            background: #ff656548
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 1

.h1, .h2, .h3, .h4, .h5, .h6, .text
    position: relative

    &:hover
        border: solid 1px #ffaf65
        background-color: #ffaf6507

        &::before
            content: ''
            position: absolute
            left: -1px
            top: -23px
            color: white
            height: 23px
            font-size: 12px
            font-weight: bold
            background: #ffaf65
            padding: 5px
            z-index: 1000
            display: flex
            align-items: center
            justify-content: center

.text:hover::before
    content: 'Default Text'

.h1:hover::before
    content: 'Header 1'

.h2:hover::before
    content: 'Header 2'

.h3:hover::before
    content: 'Header 3'

.h4:hover::before
    content: 'Header 4'

.h5:hover::before
    content: 'Header 5'

.h6:hover::before
    content: 'Header 6'
