<aside class="sidebar">
    <div class="sidebar__top d-flex align-items-center">
        <div class="sidebar__top-logo">
            <div class="sidebar__top-logo-name">
                <a href="/">PLACEHOLDER</a>
            </div>
            <div class="sidebar__top-logo-img">
                <img src="/img/placeholder.png">
            </div>
        </div>
        <div class="sidebar__top-arrow" onclick="toggleActive(this)">
            <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
        </div>
      </div>
      <div class="sidebar__bottom">
        <div class="sidebar__bottom-list">
            <div class="sidebar__bottom-list-item active">
                <div class="sidebar__bottom-list-item-icon">
                    <i class="fa-regular fa-house" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Dashboard</a>
                </div>
              </div>
              <div class="sidebar__bottom-list-item">
                <div class="sidebar__bottom-list-item-icon">
                  <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Revenue</a>
                </div>
              </div>
              <div class="sidebar__bottom-list-item">
                <div class="sidebar__bottom-list-item-icon">
                  <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Notifications</a>
                </div>
              </div>
              <div class="sidebar__bottom-list-item">
                <div class="sidebar__bottom-list-item-icon">
                  <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Analytics</a>
                </div>
              </div>
              <div class="sidebar__bottom-list-item">
                <div class="sidebar__bottom-list-item-icon">
                  <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Like</a>
                </div>
              </div>
              <div class="sidebar__bottom-list-item">
                <div class="sidebar__bottom-list-item-icon">
                  <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar__bottom-list-item-text">
                  <a href="/">Wallet</a>
                </div>
              </div>
        </div>
      </div>
</aside>