.error-404
    @include center-h
    @include center-v
    flex-direction: column
    height: 100vh
    padding: 0 2rem
    text-align: center
    background-color: $secondary

    &__header 
        margin-bottom: 1rem

        span
            @include disable-select
            -webkit-background-clip: text
            background-clip: text
            color: transparent
            background-size: cover
            background-image: url('/img/404background.jpg')
            font-size: clamp(5rem, 30vw, 13rem)
            font-family: 'Libre Franklin'
            line-height: 0
            background-repeat: round

    &__description span 
        color: $error-description
        font-family: $poppins
        font-weight: bold
        font-size: clamp(18px, 6vw, 2rem)
        margin-top: -5rem

    &__pun span 
        color: $error-pun
        font-family: $poppins
        font-size: clamp(12px, 4vw, 1.5rem)


    &__btn button
        margin-top: 1rem
        padding: 0.5rem 1rem