.courses
    display: flex
    flex-wrap: wrap
    padding: 30px
    background-color: $courses
    @include center-v

    &__content  
            text-align: center
            color: $courses__content
            margin-bottom: 6vw
        
            &-header
                font-size: clamp(40px, 5vw, 5rem)
                font-family: $ubuntu

            &-description
                font-size: clamp(20px, 2vw, 2rem)
                font-family: $ubuntu

    &__item
        overflow: hidden
        background-color: $courses__item
        border-radius: 3px
        border: solid 1px $courses__item-border
        width: 300px
        max-width: 300px

        &-img
            width: 100%
            max-width: 100%

        &-content
            padding: 25px 20px

            &-tags
                margin-bottom: 15px

                a
                    background-color: $courses__item-tag
                    font-size: 13px
                    border: solid 1px $courses__item-tag-border
                    padding: 3px 7px
                    margin-right: 3px
                    color: $links-secondary
                    font-family: $poppins
                    font-weight: bold
                    border-radius: 4px
                    transition: background-color 0.2s ease

                    &:hover
                        background-color: $courses__item-tag--hover
                        border: solid 1px $courses__item-tag-border--hover

            
            &-header
                margin-bottom: 12px
                font-size: 28px
                font-family: $darker-grotesque
                font-weight: bold
                color: $courses__item-header

            &-rating
                display: inline-block

                i 
                    color: $rating-star
                    font-size: 0.85rem

                span
                    color: $courses__item-rating
                    font-size: 1rem
                    position: relative
                    top: 1px
                    font-family: $poppins

    &__button button
        width: 200px
        padding: 10px 0
        font-size: 1rem
        border: solid 1px $courses__item-rating-border