<div id="courses" class="courses container-fluid">
    <div class="row-center gap-5">
        <div class="courses__item col-sm-12 col-md-5 col-lg-5 col-xl-3">
           <div class="row courses__item-img col-lg-6">
            <img src="/img/placeholder.png" alt="">
           </div>
           <div class="courses__item-content col-lg-6">
            <div class="courses__item-content-header">
                <span>Header</span>
            </div>
            <div class="courses__item-content-info">
                <span>Beginner | 1 - 2 Weeks</span>
            </div>
            <div class="courses__item-content-desciption">
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sed doloribus rerum exercitationem qui!</span>
            </div>
            <div class="courses__item-content-btn">
                <button class="btn-primary">View Course</button>
            </div>
           </div>
        </div>
        <div class="courses__item col-sm-12 col-md-5 col-lg-5 col-xl-3">
            <div class="row courses__item-img col-lg-6">
                <img src="/img/placeholder.png" alt="">
               </div>
               <div class="courses__item-content col-lg-6">
                <div class="courses__item-content-header">
                    <span>Header</span>
                </div>
                <div class="courses__item-content-info">
                    <span>Beginner | 1 - 2 Weeks</span>
                </div>
                <div class="courses__item-content-desciption">
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sed doloribus rerum exercitationem qui!</span>
                </div>
                <div class="courses__item-content-btn">
                    <button class="btn-primary">View Course</button>
                </div>
               </div>
        </div>
        <div class="courses__item col-sm-12 col-md-5 col-lg-5 col-xl-3">
            <div class="row courses__item-img col-lg-6">
                <img src="/img/placeholder.png" alt="">
               </div>
               <div class="courses__item-content col-lg-6">
                <div class="courses__item-content-header">
                    <span>Header</span>
                </div>
                <div class="courses__item-content-info">
                    <span>Beginner | 1 - 2 Weeks</span>
                </div>
                <div class="courses__item-content-desciption">
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sed doloribus rerum exercitationem qui!</span>
                </div>
                <div class="courses__item-content-btn">
                    <button class="btn-primary">View Course</button>
                </div>
               </div>
        </div>
    </div>
</div>