<div id="courses" class="courses container-fluid">
    <div class="row-center">
        <div class="courses__content">
            <div class="courses__content-header">
                <span>Courses</span>
            </div>
            <div class="courses__content-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
        </div>
    </div>
       <div class="row gap-4 row-center">
        <div class="courses__item col-lg-3">
            <img class="courses__item-img" src="/img/404background.jpg">
            <div class="courses__item-content">
                <div class="courses__item-content-tags">
                    <a>Gavin Negron</a>
                    <a>23 Hours</a>
                </div>
                <div class="courses__item-content-header">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="courses__item-content-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.5 (438 Ratings)</span>
                </div>
            </div>
    </div>
    <div class="courses__item col-lg-3">
            <img class="courses__item-img" src="/img/404background.jpg">
            <div class="courses__item-content">
                <div class="courses__item-content-tags">
                    <a>Gavin Negron</a>
                    <a>23 Hours</a>
                </div>
                <div class="courses__item-content-header">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="courses__item-content-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.5 (438 Ratings)</span>
                </div>
            </div>
    </div>
    <div class="courses__item col-lg-3">
            <img class="courses__item-img" src="/img/404background.jpg">
            <div class="courses__item-content">
                <div class="courses__item-content-tags">
                    <a>Gavin Negron</a>
                    <a>23 Hours</a>
                </div>
                <div class="courses__item-content-header">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="courses__item-content-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.5 (438 Ratings)</span>
                </div>
            </div>
    </div>
    <div class="row row-center">
        <div class="courses__button">
            <button class="btn btn-secondary">View All Courses</button>
        </div>
    </div>
       </div>
</div>