<div class="cta">
    <div class="cta__header">
        <span>Start your journey here</span>
    </div>
    <div class="cta__description">
        <p></p>
        <span class="cta__description-text">
            Unlock your musical potential with over 10 courses on
            <span id="text-carousel"></span>
            <span class="input-cursor"></span>
        </span>
    </div>
    <div class="cta__btn">
        <button class="btn-primary">Get Started</button>
    </div>
    <div class="cta__learn-more">
        <a href="#overview">Learn More <i class="fas fa-angle-down"></i></a>
    </div>
</div>