<div class="container-fluid cta">
    <div class="row">
        <div class="cta__content col-lg-6">
            <div class="cta__content-header">
                <span>Start your journey here</span>
            </div>
            <div class="cta__content-description">
                <span class="cta__content-description-text">
                    Unlock your musical potential with over 10 courses on
                    <span id="text-carousel"></span>
                    <span class="input-cursor"></span>
                </span>
            </div>
            <div class="cta__content-btn">
                <button class="btn-secondary">Get Started</button>
            </div>
        </div>
        <div class="cta__background col-lg-6">
            <img src="/img/hero.png">
        </div>
    </div>
</div>