<div class="featured-post">
    <div class="featured-post__header">
        <p>Featured Article:</p>
    </div>
   <div class="featured-post__inner d-flex col-12">
    <div class="featured-post__inner__left d-flex col-12 col-md-12 col-lg-7">
        <div class="featured-post__inner__left__img">
            <img src="/img/featured-img.png">
        </div>
       </div>
        <div class="featured-post__inner__right d-flex col-12 col-md-12 col-lg-5">
            <div class="featured-post__inner__right__content">
                <div class="featured-post__inner__right__content__title">
                    <p>Fortnite Festival: Lil Nas X, Nicki Minaj Jam Tracks Announced.</p>
                </div>
                <div class="featured-post__inner__right__content__description">
                    <p>Epic have officially revealed which songs will be coming to Fortnite as Jam Tracks in tonight's Shop rotation. 🎁We're giving away free V-Bucks, Fortnite Gifts and.</p>
                </div>
                <div class="featured-post__inner__right__content__date">
                    <p>Jacob • Nov 7, 2024.</p>
                </div>
            </div>
        </div>
   </div>
 </div>