<footer class="footer">
    <div class="container-fluid">
        <div class="row footer__top">
            <div class="col-lg-6 col-sm-12 center-h col-xs-12">
                <div class="footer__top-about">
                    <div class="footer__top-about-header header-footer">
                        <span>About</span>
                    </div>
                    <div class="footer__top-about-description">
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia blanditiis earum autem ex similique? Id a fuga repellendus temporibus quos maiores soluta ducimus quam, quidem quaerat totam facere quis porro recusandae atque est illum voluptate distinctio nihil minima esse possimus?</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 center-h">
                <div class="footer__top-links">
                    <div class="footer__top-links-item-header header-footer">
                        <span>Navigation</span>
                    </div>
                    <ul>
                        <li class="footer__top-links-item"><a href="/">Placeholder</a></li>
                        <li class="footer__top-links-item"><a href="/">Placeholder</a></li>
                        <li class="footer__top-links-item"><a href="/">Placeholder</a></li>
                        <li class="footer__top-links-item"><a href="/">Placeholder</a></li>                
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 center-h">
                <form class="footer__top-newsletter" action="/" method="post">
                    <span class="footer__top-newsletter-header header-footer">Newsletter</span>
                    <input class="footer__top-newsletter-name" type="text" placeholder="Your Name:"></input>
                    <input class="footer__top-newsletter-email" type="email" placeholder="Your Email:"></input>
                    <input class="footer__top-newsletter-submit btn btn-secondary" type="submit" placeholder="Subscribe"></input>
                </form>
            </div>
        </div>
        <div class="row footer__bottom">
            <div class="col">
                <div class="footer__bottom-copyright">
                    <span>&copy; 2023 Lorem, ipsum. All rights reserved.</span>
                </div>
            </div>
            <div class="col">
                <div class="footer__bottom-socials">
                    <a class="footer__bottom-socials-item" href=”#” data-color="#7289da"><i class="fa-brands fa-discord"></i></a>
                    <a class="footer__bottom-socials-item" href=”#” data-color="#ff0000"><i class="fa-brands fa-youtube"></i></a>
                    <a class="footer__bottom-socials-item" href=”#” data-color="#1da1f2"><i class="fa-brands fa-twitter"></i></a>
                    <a class="footer__bottom-socials-item" href=”#” data-color="#333333"><i class="fa-regular fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>