<div class="login container-fluid">
    <div class="login__container row">
        <div class="login__container-left col-md-6">
            <div class="login__container-left-quote">
                <span>"In music, the only boundaries are those you create." - <i>John Williams</i></span>
            </div>
        </div>
        <form class="login__container-right col-md-6">
            <div class="login__container-right-header">
                <span>Welcome Back</span>
            </div>
            <div class="login__container-right-input">
                <input placeholder="Email" type="email" name="login-email">
                <input placeholder="Password" type="password" name="login-password">
                <input type="submit" name="login-submit" class="btn btn-primary">
            </div>
            <div class="login__container-right-register">
                <span>Don't have an account yet? <a href="/register">Register</a></span>
            </div>
        </form>
    </div>
</div>