<nav class="container-fluid navbar">
  <div class="col-sm-4">
    <div class="navbar__logo">
      <div class="navbar__logo-name">
        <a href="/">PLACEHOLDER</a>
      </div>
      <div class="navbar__logo-img">
        <img src="/img/placeholder.png" alt="Home">
      </div>
    </div>
  </div>
 <div class="col-sm-8 d-flex justify-content-end">
  <div class="navbar__menu">
    <a href="/about" class="links-navigation">About</a>
    <a href="/blog" class="links-navigation">Blog</a>
    <a href="/login" class="links-navigation">Login</a>
    <a href="/register" class="navbar__menu-link"><button class="btn btn-primary">Get Started</button></a>
  </div>
  <div class="navbar__hamburger">
    <div class="navbar__hamburger-img">
      <img src="/img/hamburger-icon.png">
    </div>
  </div>
 </div>
 <div class="navbar__dropdown">
    <a href="/about" class="navbar__dropdown-link">About</a>
    <a href="/blog" class="navbar__dropdown-link">Blog</a>
    <a href="/login" class="navbar__dropdown-link">Login</a>
    <a href="/get-started" class="navbar__dropdown-link"><button class="btn btn-primary">Get Started</button></a>
</div>
</nav>