<div id="overview" class="overview container-fluid">
    <div class="row-center">
        <div class="overview__content">
            <div class="overview__content-header">
                <span>How it works</span>
            </div>
            <div class="overview__content-description">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            </div>
        </div>
    </div>
    <div class="row-center gap-5">
        <div class="overview__item col-lg-3">
            <div class="overview__item-img">
                <img src="/img/paths.svg">
            </div>
            <div class="overview__item-header">
                <span>Paths</span>
            </div>
            <div class="overview__item-description">
                <span>Learn the right skills needed for you to succeed.</span>
            </div>
        </div>
        <div class="overview__item col-lg-3">
            <div class="overview__item-img">
                <img src="/img/courses.svg">
            </div>
            <div class="overview__item-header">
                <span>Courses</span>
            </div>
            <div class="overview__item-description">
                <span>Develop your skills with over 20 detailed courses.</span>
            </div>
        </div>
        <div class="overview__item col-lg-3">
            <div class="overview__item-img">
                <img src="/img/certificate.svg">
            </div>
            <div class="overview__item-header">
                <span>Certificate</span>
            </div>
            <div class="overview__item-description">
                <span>Earn a certificate after completing a course for proof of completion.</span>
            </div>
        </div>
    </div>
</div>