<div class="recent-posts">
    <div class="recent-posts__header">
        <p>Recent Blog Posts</p>
    </div>
    <div class="recent-posts__inner">
    <%- include('./post-card') %>
    <%- include('./post-card') %>
    <%- include('./post-card') %>
    <%- include('./post-card') %>
    </div>
</div>