@import '../../../../styles/components/base/base'
@import '../../../../styles/components/base/search'
@import '../../../../styles/components/base/buttons'
@import '../../../../styles/layout/grid'
@import '../../../../styles/layout/layout'
@import '../../../../styles/components/posts/post-grid'
@import '../../../../styles/components/posts/post-elements'
@import '../components/EditorNavbar/'
@import '../components/EditStyles/edit-styles'
@import '../components/Publish/publish'

.blog-post-content
    display: flex
    flex-direction: row
    justify-content: center
    position: relative
    width: calc(100% - 78px)
    left: 78px
    top: 20px
    margin: 120px 0

.blog-post-main
    width: 55%
    background-color: #121212
    width: 768px
    box-shadow: 0 0 7px 2px #171717
    z-index: 100
    overflow: hidden

    &__inner
        padding: 30px 55px

.editor-container
    position: fixed
    left: 78px
    margin-bottom: 70px
    top: 165px
    
.editor
    &__back 
        padding: 20px 0 0 30px
        
        a
            display: flex
            font-size: 20px
            color: white
            font-family: 'Poppins'
            align-items: center
            gap: 10px
            position: relative
            font-weight: 600

.fortnite-btn
    @include fortnite-btn

.save-indicator
    display: none
    position: fixed
    right: 15px
    top: 190px
    background: #009879
    padding: 5px 10px
    color: #fff
    font-weight: 600
    border-radius: 2px
    font-family: "Poppins"
    z-index: 100000
    align-items: center
    justify-content: center
    gap: 6px
    border-bottom: solid 3px #6abfac