a
    text-decoration: none
    cursor: pointer
    color: inherit
    transition: color 0.25s ease-in-out

    &:hover
        text-decoration: underline

button, input[type = "submit"]
    cursor: pointer
    border-radius: 6px

*::selection
    //background-color: #1F1F1F

html
    scroll-behavior: smooth