// Fonts
$primary-font: 'Poppins', sans-serif
$header-font: 'Almarai', sans-serif

// Font Sizes
$bs-size: 16px
$sm-size: 0.875rem
$md-size: 1.1rem
$lg-size: 1.75rem
$xl-size: 2.25

// Line Heights
$bs-lh: 1.5
$sm-lh: 1.25
$md-lh: 1.75
$lg-lh: 2.25
$xl-lh: 2.5

// Headings
h1 
  font-size: 2.5rem
h2 
  font-size: 2rem
h3 
  font-size: 1.75rem
h4 
  font-size: .5rem
h5
  font-size: 1.25rem
h6
  font-size: 1rem

.header-footer
  font-family: $header-font
  color: $footer__header-color
  margin-bottom: 1rem
  font-size: $lg-size