<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ubuntu:wght@700;800&family=Libre+Franklin:wght@900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" />
  <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
</head>
<body>
    <%- include('templates/loading.ejs') %>
    <%- include('templates/navbar.ejs') %>
  <main className="main">
    <section className="container-login forms">
      <form className="login">
          <div className="login__header">
              <span>Login</span>
          </div>
          <div className="login__input">
              <div className="login__input-field">
                  <input type="text" placeholder="Email">
              </div>
              <div className="login__input-field">
                  <input className="password-field" type="password" placeholder="Password">
                  <i className="password-toggle fa-regular fa-eye-slash"></i>
              </div>
          </div>
          <div className="login__forgot">
              <a href="/reset-password">Forgot Password?</a>
          </div>
          <div className="login__btn">
              <input type="submit" className="btn btn-primary" value="Login">
          </div>
          <div className="login__register">
              <span>Don't have an account? <a href="/register">Sign Up</a></span>
          </div>
      </div>
          <div className="login__line"></div>
          <div className="login__media">
              <div className="login__media-item">
                  <div id="g_id_onload"
                      data-client_id="225821881027-qqevi5i666sf7v75l00t7i7oldnf51ho.apps.googleusercontent.com"
                      data-login_uri="http://localhost:8080/login"
                      data-ux_mode="popup"
                      data-auto_prompt="false"
                      >
                  </div>
  
                  <div className="g_id_signin"
                      data-type="icon"
                      data-size="large"
                      data-theme="outline"
                      data-text="sign_in_with"
                      data-shape="rectangular"
                      data-logo_alignment="left">
                  </div>
                  <div id="google-sign-in" className="login__media-item-google">
                      <div className="login__media-item-google__img">
                          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cpath id='a' d='M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%23FBBC05' d='M0 37V11l17 13z'/%3E%3Cpath clip-path='url(%23b)' fill='%23EA4335' d='M0 11l17 13 7-6.1L48 14V0H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%2334A853' d='M0 37l30-23 7.9 1L48 0v48H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%234285F4' d='M48 48L17 24l-4-3 35-10z'/%3E%3C/svg%3E">
                      </div>
                      <div className="login__media-item-google__text">
                          <span>Sign in with Google</span>
                      </div>
                  </div>
              </div>
              <div className="login__media-item">
                  <div id="microsoft-sign-in" className="login__media-item-microsoft">
                      <div className="login__media-item-microsoft__img">
                          <img src="/img/microsoft.svg">
                      </div>
                      <div className="login__media-item-microsoft__text">
                          <span>Sign in with Microsoft</span>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </section>
  </main>
    <%- include('templates/footer.ejs') %> 
</body>
<script src="https://alcdn.msauth.net/browser/2.35.0/js/msal-browser.min.js" integrity="sha384-PARf28kmic36Ve+O3DnUerRXFtOQ7ZDqRDGpLcbljly5/N39T2OV3kt3QsWOKeAX" crossorigin="anonymous"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script defer src="/js/vendor/jquery.js" type="module"></script>
<script src="/js/app/login.js" type="module"></script>
<script src="https://kit.fontawesome.com/5ee52856b3.js" crossorigin="anonymous"></script>
</html>